

<div style="color:cadetblue">
<h1 class="text-center">Ingresar nuevo Cliente</h1>
</div>

<form  asp-action="NuevosCliente" style="text-align:center">

    <br />
    <div class="row">


        <div class="col-md-4">
            <div class=" form-inline">
                <label class="col-form-label" style="width:30%">Nombres:</label>
                <input class="form-control" style="width:70%" name="NombreCliente" type="text" placeholder="Nombres" />
            </div>

        </div>
        <div class="col-md-4">
            <div class=" form-inline">
                <label class="col-form-label" style="width:30%">Apellidos:</label>
                <input class="form-control" style="width:70%" id="name" name="Apellidos" type="text" placeholder="Nombres" />
            </div>

        </div>
        <div class="col-md-4"></div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class=" form-inline">
                <label class="col-form-label" style="width:30%">Cédula:</label>
                <input class="form-control" style="width:70%" name="Cedula" type="text" placeholder="Número de Identificación" />
            </div>
        </div>
        <div class=" col-md-4">
            <div class=" form-inline">
                <label for="selectGenero" style="width:30%">Género:</label>
                <select style="width:70%" class="form-control" name="Genero" id="selectGenero">
                    <option value="" disabled="" selected="">seleccione</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>

            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class=" form-inline">

                <label class="col-form-label" style="width:30%">Dirección:</label>
                <input class="form-control" style="width:70%" name="Direccion" type="text" placeholder="Escriba la Dirección domiciliar" />

            </div>
        </div>
        <div class="col-md-4">
            <div class=" form-inline">

                <label class="col-form-label" style="width:30%">Teléfono:</label>
                <input class="form-control" style="width:70%" name="Telefono" type="text" placeholder="Número Teléfono o Convencional" />

            </div>

        </div>
        <div class="col-md-4"></div>
    </div>
    <br />

    <div class="row">
        <div class=" col-md-4">
            <div class=" form-inline">

                <label for="selectEstado" style="width:30%">Estado:</label>
                <select class="form-control" style="width:70%" name="Estado" id="selectEstado">
                    <option>Seleccione</option>
                    <option>Activo</option>
                    <option>Inactivo</option>
                </select>
            </div>

        </div>
    </div>





    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
                <input style="margin:10px" type="submit" asp-controller="Cliente" asp-action="Clientes" value="Cancelar" class="btn btn-secondary mx-auto float-right">
                <input style="margin:10px" type="submit" value="Guardar" class="btn btn-success float-right">
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>

</form>
<br />

