<h1>Ingresar nuevo cliente</h1>

<form asp-action="NuevoCliente">
    <div class="row">


        <div class="col-md-2">

            <label class="col-form-label">Nombres</label>

        </div>
        <div class="col-md-4">

            <input class="form-control" name="Nombres" type="text" placeholder="Nombres" />


        </div>
        <div class="col-md-2">

            <label class="col-form-label">Cédula</label>

        </div>
        <div class="col-md-4">

            <input class="form-control" name="Cedula" type="text" placeholder="Número de Identificación" />


        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">

            <label class="col-form-label">Dirección</label>

        </div>
        <div class="col-md-4">

            <input class="form-control" name="Direccion" type="text" placeholder="Ecriba la Dirección domiciliar" />

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

            <label class="col-form-label">Teléfono</label>
            <input class="form-control" name="Telefono" type="text" placeholder="Número Teléfono o Convencional" />

        </div>
        <div class="col-md-4">
            <input class="form-control" name="Telefono" type="text" placeholder="Número Teléfono o Convencional" />


        </div>

    </div>
    <div class="row">
        <div class=" col-md-2">
            <label for="selectsexo">Sexo:</label>

        </div>
        <div class=" col-md-4">

            <select class="form-control" name="Sexo" id="selectsexo">
                <option>Seleccione</option>
                <option>M</option>
                <option>F</option>
            </select>

        </div>
     

    </div>
    <div class="row"></div>

    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div>
                <input style="margin:10px" type="submit" value="Cancelar" class="btn btn-secondary mx-auto float-right">
                <input style="margin:10px" type="submit" value="Guardar" class="btn btn-success float-right">
            </div>
        </div>
    </div>

</form>
<br />

