@model List<Credi_Gestion.Models.Prestamo>

@{ 
    ViewData["Title"] ="Home Page";
}

<div class="alert-dark">
    <h1 class="text-center table-bordered" >
        Listados de Prestamos
    </h1>
</div>
<div class="table-responsive">
    <table id="Prestamo" class="table table-bordered header_fijo" style="background-color:aqua" overFlow="scroll">
        <thead class="thead-dark" id="tableheader">
            <tr>
                <th>

                </th>
            </tr>
        </thead>

    </table>
</div>