@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 style="text-align:center">@ViewData["Title"] </h1>

<style>
    body {
        margin: 0;
        padding: 0;
        background-color:aliceblue;
        height: 100vh;
    }

    #login.container #login- row #login- column #login- box {
        margin-top: 120px;
        max-width: 600px;
        height: 320px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
    }

        #login.container #login- row #login- column #login- box #login- form {
        padding: 20px;
    }

            #login.container #login- row #login- column #login- box #login- form #register- link {
        margin-top: -85px;
    }
</style>
<body>
    <div class="row" >
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
